<!DOCTYPE html>
<html>
<head>
	<title>
		WayAround - {{title}}
	</title>

	<meta charset="UTF-8">
	<meta name="description" content="Project for Scott Klemmer's COGS 120 Winter 2018">
	<meta name="keywords" content="HTML,CSS,XML,JavaScript">
	<meta name="author" content="Jacob Ugalde, Subhankar Panda, Yue Wu, German Pelayo">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/wayaround.css">
	<link rel="stylesheet" type="text/css" href="/css/parsley.css">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>