<!DOCTYPE html>
<html>
<head>
	<title>
		WayAround - {{title}}
	</title>

	<meta charset="UTF-8">
	<meta name="description" content="Project for Scott Klemmer's COGS 120 Winter 2018">
	<meta name="keywords" content="HTML,CSS,XML,JavaScript">
	<meta name="author" content="Jacob Ugalde, Subhankar Panda, Yue Wu, German Pelayo">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/wayaround.css">
	<link rel="stylesheet" type="text/css" href="/css/parsley.css">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
  	integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  	crossorigin=""/>
  	<link rel="stylesheet" href="/css/leaflet-routing-machine.css" />
</head>
<body>