<div class="container-fluid">


	<script>
        $(document).bind("mobileinit", function(){
            $.mobile.ignoreContentEnabled = true;
            $.mobile.ajaxEnabled = false;
        });
	</script>

	<nav class="navbar navbar-default nav-custom" data-enhanced="false" data-dom-cache="false">
		<div class="container">
			<div class="navbar-header">
				{{#if back}}
				<button class="btn btn-back" onclick="javascript:history.back()" data-role="none">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				</button>
				{{/if}}
				{{#unless login}}
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" data-role="none">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				{{/unless}}
				{{#if login}}
				<a class="navbar-brand" href="/" data-role="none">WayAround</a>
				{{else}}
				<a class="navbar-brand" href="/index">WayAround</a>
				{{/if}}
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			{{#unless login}}
			<div class="collapse navbar-collapse" id="navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/index">Home</a></li>
					<li><a href="/profile">Profile</a></li>
					<li><a href="/login" id="signout">Sign Out</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
			{{/unless}}
		</div><!-- /.container -->
	</nav><!-- /.navbar -->
</div>