{{> layout title="Rate your route"}}
{{> nav}}
<div class="text-center container">
	<h2> WayAround Completed!</h2>

	<p> Please take a few minutes to rate your route: </p>

	<hr>
	<h4>Your rating progress:</h4>
	<div class="progress">
		<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
			<span class="sr-only">0% Complete</span>
		</div>
	</div>

	<hr>
	
	<form class="form" id="reviewForm" method="post" action="/thankyou">
		<div id="overall" class="form-group current">
			<h3> How would you rate your route?</h3>
			<span class="star-rating">
				<input type="radio" name="rateOverall" value="1"><i></i>
				<input type="radio" name="rateOverall" value="2"><i></i>
				<input type="radio" name="rateOverall" value="3"><i></i>
				<input type="radio" name="rateOverall" value="4"><i></i>
				<input type="radio" name="rateOverall" value="5"><i></i>
			</span>
			<h5> 1 Star = Not at All </h5>
			<h5> 5 Stars = Extremely Well </h5>		
		</div>

		<div id="scenery" class="form-group">
			<h3> How well did the scenery match your preferences?</h3>
			<span class="star-rating">
				<input type="radio" name="rateScenery" value="1"><i></i>
				<input type="radio" name="rateScenery" value="2"><i></i>
				<input type="radio" name="rateScenery" value="3"><i></i>
				<input type="radio" name="rateScenery" value="4"><i></i>
				<input type="radio" name="rateScenery" value="5"><i></i>
			</span>
			<h5> 1 Star = Not at All </h5>
			<h5> 5 Stars = Extremely Well </h5>
		</div>

		<div id="congestion" class="form-group">
			<h3> How well did the congestion match your preferences?</h3>
			<span class="star-rating">
				<input type="radio" name="rateCongestion" value="1"><i></i>
				<input type="radio" name="rateCongestion" value="2"><i></i>
				<input type="radio" name="rateCongestion" value="3"><i></i>
				<input type="radio" name="rateCongestion" value="4"><i></i>
				<input type="radio" name="rateCongestion" value="5"><i></i>
			</span>
			<h5> 1 Star = Not at All </h5>
			<h5> 5 Stars = Extremely Well </h5>
		</div>

		<div id="terrain" class="form-group">
			<h3> How well did the terrain match your preferences?</h3>
			<span class="star-rating">
				<input type="radio" name="rateTerrain" value="1"><i></i>
				<input type="radio" name="rateTerrain" value="2"><i></i>
				<input type="radio" name="rateTerrain" value="3"><i></i>
				<input type="radio" name="rateTerrain" value="4"><i></i>
				<input type="radio" name="rateTerrain" value="5"><i></i>
			</span>
			<h5> 1 Star = Not at All </h5>
			<h5> 5 Stars = Extremely Well </h5>
		</div>

		<div id="safety" class="form-group">
			<h3> How well did the safety match your preferences?</h3>
			<span class="star-rating">
				<input type="radio" name="rateSafety" value="1"><i></i>
				<input type="radio" name="rateSafety" value="2"><i></i>
				<input type="radio" name="rateSafety" value="3"><i></i>
				<input type="radio" name="rateSafety" value="4"><i></i>
				<input type="radio" name="rateSafety" value="5"><i></i>
			</span>
			<h5> 1 Star = Not at All </h5>
			<h5> 5 Stars = Extremely Well </h5>
		</div>

		<!-- Last comments -->
		<div id="last" class="form-group">
			<h3> Any other comments?</h3>
			<textarea class="form-control" rows="5" name="comments" placeholder="New places discovered, etc."></textarea>

			<h3> Any photos or videos to share?</h3>
			<input id="media" type="file" name="media" multiple="multiple" accept="image/*, video/*"/>
			<button id="resetImage" class="btn btn-sm" style="float: left;">Reset files</button>

			<div id="preview-media">
			</div>
		</div>


		<div class="choose-footer-container">
			<div class="choose-footer-item">
				<button class="btn btn-primary btn-narrow" type="button" id="prevButton" disabled="true">Back</button>
				<button class="btn btn-primary btn-narrow" type="button" id="skipButton">Skip All</button>
				<button class="btn btn-primary btn-narrow" type="button" id="nextButton">Next</button>
			</div>
		</div>
	</form>
</div>
<script src="/js/review.js"></script>
{{> footer}}

