{{> nav}}

<head>
	<title>My History</title>
</head>

<body>
	<div class="thumbnail">
	<h2>My History</h2>

		{{#each history}}
		<div class="thumbnail">
			<h3>Destination: {{destination}}</h3>
			<h4>{{address}}</h4>
			<img src="{{img}}"></img>
		</div>
		{{/each}}

	</div>
</body>
{{> footer}}

