{{> nav}}

<head>
	<title>My History</title>
</head>

<body>
	<div class="container">
	<h2>My History</h2>

		{{#each history}}
		<div class="project" >
			<h3>""
		</div>
		{{/each}}

	</div>
</body>
{{> footer}}

