{{> nav}}
	<div class="container-fluid">
		<div class="row">
			<div class="text-center">
				<h3>This is the Home Page! </h3>
				<a href="/choose" > Customize!</a>
			</div>
		</div
	</h3>
{{> footer}}

