{{> layout title="Home" exp="yes"}}
{{> nav}}

<div class="container">
	<div class="jumbotron">
		<h2 class="text-center"> WayAround </h2>
		<p> Walking, made easy.</p>
	</div>

	<form id="placeForm" role="form" method="post" action="/showroute" data-parsley-validate="" style="padding-bottom : 70px;">
		<div class="form-group">
			<h3>Where do you want to start?</h3>
			<input type="text" class="form-control" id="start" placeholder="Current Location" list="startSelect" name="start" required="" data-parsley-not-equal="#dest">
			<datalist id="startSelect" class="placeSelect">
				<select>
				{{#each places}}
				<option value="{{@key}}">{{@key}}</option>
				{{/each}}
				</select>
			</datalist>
		</div>
		<div class="form-group">
			<h3>Where do you want to go?</h3>
			<input type="text" class="form-control" id="dest" placeholder="Enter your destination..." list="destSelect" name="dest" required="" data-parsley-not-equal="#start">
			<datalist id="destSelect" class="placeSelect">
				<select>
				{{#each places}}
				<option value="{{@key}}">{{@key}}</option>
				{{/each}}
				</select>
			</datalist>
		</div>
		<button type="button" id="submitBtn" class="btn btn-default center-block" onclick="validatePlace();">Customize Route</button>

		<!-- Warning for invalid places -->
		<br>
		<div id="place-failure" class="alert alert-warning hidden">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Error:</span>
			Please ensure both places are non empty and not equal to each other!
		</div>

		<hr>

		<!-- Parameters -->
		<div id="params">
			<div class="text-center">
				<h2 style="padding-bottom : 20px;">
					Choose Your Preferences:
				</h2>
			</div>

			<p>Note: all parameters are optional. Click "Reset" button at the bottom of the page to easily reset all your options.</p>

			<!-- Accessibility -->
			<h2 class="bg-primary" id="terrainRadio">Accessibility Options</h2>
			<div class="form-group options" id="terrainOptions">
				<label>Do you have accessibility requirements?</label>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="terrain" value="wheelchair">Wheelchair Accessible
					</label>
				</div>			
				<div class="checkbox">
					<label>
						<input type="checkbox" name="terrain" value="steepness">No Steep Hills
					</label>
				</div>			
				<div class="checkbox">
					<label>
						<input type="checkbox" name="terrain" value="shade">Shaded Area Only
					</label>
				</div>
			</div>

			<!-- Aesthetics -->
			<h2 class="bg-primary" id="aestheticRadio">Aesthetic Options</h2>
			<div class="form-group options" id="aestheticOptions">
				<label>Places of Interests</label>
				<select class="form-control" name="places">
					<option value="none">Please select one from below...</option>
					<option value="art">Public Art</option>
					<option value="parks">Public Parks</option>
					<option value="food">Restaurants, Food, &amp; Drink</option>
					<option value="shops">Shops</option>
					<option value="scenery">Scenery</option>
				</select>
			</div>

			<!-- Congestions -->
			<h2 class="bg-primary" id="congestionRadio">Congestion Options</h2>
			<div class="form-group options" id="congestionOptions">
				<label>Quietness</label>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="quietness" value="quiet">Quiet
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="quietness" value="moderate">Moderate Volume
					</label>
				</div>				
				<div class="checkbox">
					<label>
						<input type="checkbox" name="quietness" value="loud">Loud
					</label>
				</div>

				<label>Crowd Congestion</label>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="congestion" value="empty">Empty
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="congestion" value="moderate">Moderate Congestion
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="congestion" value="high">High Congestion
					</label>
				</div>			
				<div class="checkbox">
					<label>
						<input type="checkbox" name="congestion" value="packed">Packed
					</label>
				</div>
			</div>

			<!-- Safety -->
			<h2 class="bg-primary" id="safetyRadio">Safety Options</h2>
			<div class="form-group options" id="safetyOptions">
				<label>Do you have preferences that would increase your safety?</label>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="safety" value="lights">Well Lit
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="safety" value="sidewalk">Sidewalk Only
					</label>
				</div>			
				<div class="checkbox">
					<label>
						<input type="checkbox" name="safety" value="service">Reliable Cell Service
					</label>
				</div>
			</div>

			<div class="choose-footer-container">
				<div class="choose-footer-item">
					<button class="btn btn-lg btn-primary" type="button" id="resetbutton">Reset</button>
					<button type="submit" class="btn btn-lg btn-primary" id="showbutton">Submit</button>
				</div>
			</div>
		</div> <!-- End of params -->
	</form>
</div>

<script src="/js/parsley.min.js"></script>
<script src="/js/choose.js"></script>
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-XXXXX-Y', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->

{{> footer}}
