{{> nav}}

<head>
	<title>My Profile</title>
</head>

<body>
	<div class="container">
	<h2>My Profile</h2>

		{{#each projects}}
		<div class="project" id="project1">
			<h3>""
		</div>
		{{/each}}

	</div>
</body>
{{> footer}}

