{{> layout title="Create an Account"}}
{{> nav back="true"}}

<div class="container">
	<h2 class="text-center">Create an Account</h2>

	<form id="loginForm" method="post" onsubmit="validateLogin();" action="/" data-parsley-validate="">
		<div class="form-group">
			<label for="email">Email address</label>
			<input type="email" class="form-control" placeholder="Email" data-parsley-trigger="change" name="email" required="">
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input id="password" type="password" class="form-control" placeholder="Password" name="password" required="">
		</div>
		<div class="form-group">
			<label for="password-verify">Reenter your password</label>
			<input type="password" class="form-control" placeholder="Reenter your password" name="password-verify" required="" data-parsley-equalto="#password" data-parsley-trigger="input">
		</div>
		<button type="submit" class="btn btn-default btn-lg center-block">Create Account</button>
	</form>	

	<div id="login-failure" class="alert alert-warning hidden">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  		<span class="sr-only">Error:</span>
		There seem to be invalid fields. Check the form and try again.
	</div>
</div>
<script src="/js/parsley.min.js"></script>
<script src="/js/validate.js"></script>
{{> footer}}