{{>layout title="Your Route"}}
{{> nav}}
	<div class="text-center">
			<h3> Your Route: </h3>
        	<img src="https://i.gyazo.com/16e0fc07b0165b824270991944ce49ce.png" alt="Dummy maps image" class="img-rounded"/>
			<h3></h3>
			<a href="/done"> Done!</a>
	</div>
{{> footer}}

