{{> nav}}
<div class="container">
<h1>Thank you!</h1>
<h2>Your response has been recorded.</h2>
<p>You will be redirected to the home page in <span id="countdown">3</span> seconds. If the browser doesn't automatically refresh, please
<a href="/">click here to manually return.</a> </p>
<meta http-equiv="refresh" content="3;url=/index" />
</div>
<script src="/js/redirect.js"></script>
{{> footer}}