html {
	background-color: #fefefe;
}

body {
	min-height: 100%;
}

.nav-custom {
	background-color: #3498db;
}

.navbar-brand {
	font-style: bold;
}


.nav-custom a {
	color : white !important;
	font-size: 20px;
}

.nav-custom li:hover {
	text-decoration: underline;
}

.text-center a {
	font-size: 20px;
	padding-top: 30px;
}

.options {
	padding-top: 10px;	
	padding-bottom: 5px;
}

.choose-footer-container {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align:center;
}

.choose-footer-item {
	margin-bottom: 10px;
	margin-top : 10px;
}

.choose-footer-container .btn {
	width: 180px;
	margin-left : 10px;
	margin-right: 10px;
}